<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPRAtlasEditor.Current" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SPRAtlasEditor.Current>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF909090</value>
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="SelectColor" serializeAs="String">
                <value>#80FF6600</value>
            </setting>
        </SPRAtlasEditor.Current>
    </userSettings>
</configuration>
