<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PersonaEditor.ApplicationSettings.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PersonaEditorGUI.Settings.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PersonaEditorGUI.Settings.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PersonaEditorGUI.Settings.SPREditor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PersonaEditorGUI.Settings.WindowSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PersonaEditorGUI.Settings.BackgroundDefault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PersonaEditorGUI.WindowSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PersonaEditorGUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PersonaEditor.ApplicationSettings.AppSetting>
      <setting name="BMDFontDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="PTPOldDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="PTPNewDefault" serializeAs="String">
        <value>P4_RUS</value>
      </setting>
      <setting name="PTPBackgroundDefault" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="DirFont" serializeAs="String">
        <value>font</value>
      </setting>
      <setting name="DirBackground" serializeAs="String">
        <value>background</value>
      </setting>
      <setting name="BMDFontDestDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="DefaultLocalization" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="PreviewSelectedColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="SaveAsPTP_CO2N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveAsPTP_Font" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="SaveAsPTP_NeverAskAgain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenPTP_Font" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="OpenPTP_NeverAskAgain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleInstanceApplication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PTPImageView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PTPNameBlockSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="FTDEncoding" serializeAs="String">
        <value>Empty</value>
      </setting>
    </PersonaEditor.ApplicationSettings.AppSetting>
    <PersonaEditorGUI.Settings.AppSetting>
      <setting name="BMDFontDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="PTPOldDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="PTPNewDefault" serializeAs="String">
        <value>P4_RUS</value>
      </setting>
      <setting name="PTPBackgroundDefault" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="DirFont" serializeAs="String">
        <value>font</value>
      </setting>
      <setting name="DirBackground" serializeAs="String">
        <value>background</value>
      </setting>
      <setting name="BMDFontDestDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="DefaultLocalization" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="PreviewSelectedColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="SaveAsPTP_CO2N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveAsPTP_Font" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="SaveAsPTP_NeverAskAgain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenPTP_Font" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="OpenPTP_NeverAskAgain" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Single_Instance_Application" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PTPImageView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PTPNameBlockSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="FTDEncoding" serializeAs="String">
        <value>Empty</value>
      </setting>
    </PersonaEditorGUI.Settings.AppSetting>
    <PersonaEditorGUI.Settings.App>
      <setting name="BMDFontDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="PTPOldDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="PTPNewDefault" serializeAs="String">
        <value>P4_RUS</value>
      </setting>
      <setting name="PTPBackgroundDefault" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="DirFont" serializeAs="String">
        <value>font</value>
      </setting>
      <setting name="DirBackground" serializeAs="String">
        <value>background</value>
      </setting>
      <setting name="BMDFontDestDefault" serializeAs="String">
        <value>P4</value>
      </setting>
      <setting name="DefaultLocalization" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="PreviewSelectedColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="SaveAsPTP_CO2N" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveAsPTP_Font" serializeAs="String">
        <value>Empty</value>
      </setting>
      <setting name="SaveAsPTP_NeverAskAgain" serializeAs="String">
        <value>False</value>
      </setting>
    </PersonaEditorGUI.Settings.App>
    <PersonaEditorGUI.Settings.SPREditor>
      <setting name="BackgroundColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="LineColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="SelectColor" serializeAs="String">
        <value>#80FF6600</value>
      </setting>
      <setting name="BorderThickness" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DefaultEncoding" serializeAs="String">
        <value>P5</value>
      </setting>
    </PersonaEditorGUI.Settings.SPREditor>
    <PersonaEditorGUI.Settings.WindowSetting>
      <setting name="MWWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="MWHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MWLeftWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="MWPropertyExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MWPosX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MWPosY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MWState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </PersonaEditorGUI.Settings.WindowSetting>
    <PersonaEditorGUI.Settings.BackgroundDefault>
      <setting name="EmptyGlyphScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EmptyWidth" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="EmptyHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="EmptyBackgroundColor" serializeAs="String">
        <value>#FF808080</value>
      </setting>
      <setting name="EmptyTextColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="EmptyNameColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="EmptyLineSpacing" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EmptyTextPos" serializeAs="String">
        <value>70,50</value>
      </setting>
      <setting name="EmptyNamePos" serializeAs="String">
        <value>0,0</value>
      </setting>
    </PersonaEditorGUI.Settings.BackgroundDefault>
    <PersonaEditorGUI.WindowSetting>
      <setting name="MWWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="MWHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="MWLeftWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="MWRightWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="MWPropertyExpanded" serializeAs="String">
        <value>True</value>
      </setting>
    </PersonaEditorGUI.WindowSetting>
    <PersonaEditorGUI.Settings>
      <setting name="ViewTree" serializeAs="String">
        <value>True</value>
      </setting>
    </PersonaEditorGUI.Settings>
  </userSettings>
</configuration>
