<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PersonaText.Current" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PersonaText.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <PersonaText.Current>
            <setting name="ViewVisualizer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewPrefixPostfix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedBackground" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="SelectedBackgroundVisual" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="EmptyGlyphScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EmptyWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="EmptyHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="EmptyBackgroundColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="EmptyTextX" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="EmptyTextY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EmptyTextColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="EmptyNameX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmptyNameY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmptyNameColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="IsLittleEndian" serializeAs="String">
                <value>True</value>
            </setting>
        </PersonaText.Current>
        <PersonaText.Settings>
            <setting name="ViewVisualizer" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="ViewPrefixPostfix" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectedBackground" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectedBackgroundVisual" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyGlyphScale" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyWidth" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyHeight" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyBackgroundColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyTextX" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyTextY" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyTextColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyNameX" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyNameY" serializeAs="String">
                <value/>
            </setting>
            <setting name="EmptyNameColor" serializeAs="String">
                <value/>
            </setting>
        </PersonaText.Settings>
    </userSettings>
</configuration>
